extends template

block content
  h1 Projeto de Engenharia Web
  p Este projeto está a ser desenvolvido no âmbito da UC de Engenharia Web, com o objetivo de apresentar um mapa das ruas da cidade de Braga. O tema do projeto centra-se em apresentar uma listagem das ruas, onde é possível aceder à descrição da mesma e a algumas imagens ilustrativas. É possível ainda aceder a páginas relativas às várias entidades e datas referenciadas nas ruas. Todas estas funcionalidades podem ser acedidas através do nosso website.

