extends template

block content
  .w3-card-4
    h1.w3-blue(tyle="text-shadow:2px 2px 0 #444",style="margin-top: 0px;") 
        b.w3-margin-left Autentique-se no sistema
    - if (erro != '')
        h1.w3-red(tyle="text-shadow:2px 2px 0 #444",style="margin-top: 0px;") 
            b.w3-margin-left=erro
    form.w3-container(action="/users/login?rota="+rota method="POST")
        fieldset 
            legend Credênciais: 
            label Username 
            input.w3-input(type="text" name="username")
            label Password 
            input.w3-input(type="password" name="password")
        br
        .w3-row-padding.w3-center
            .w3-col.m12(style="width:10%")
                input.w3-btn.w3-blue(type="submit" value="Submeter")
            .w3-col.m12(style="width:10%")
                a.w3-btn.w3-blue.w3-hover-light-blue(href="/users/register/?rota="+rota) Registar
        br
