extends template

block content
  .w3-card-4
    h1.w3-blue(tyle="text-shadow:2px 2px 0 #444",style="margin-top: 0px;") 
        b.w3-margin-left Página de registo
    form.w3-container(action="/users/register"+querys method="POST")
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Nome do utilizador
            input.w3-input.w3-border.w3-border-indigo(type="text" name="username")
            h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Palavra Passe 
            input.w3-input.w3-border.w3-border-indigo(type="password" name="password")
            h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Email (*)
            input.w3-input.w3-border.w3-border-indigo(type="text" name="email")
            h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Data nascimento (*) 
            input.w3-input.w3-border.w3-border-indigo(type="text" name="birth_date")
            h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Morada (*)
            input.w3-input.w3-border.w3-border-indigo(type="text" name="address")
            h5.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b *: Opcional
        br
        .w3-row-padding.w3-center
            .w3-col.m12(style="width:10%")
                input.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(type="submit" value="Submeter")
            .w3-col.m12(style="width:10%")
                a.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/users/login/"+querys) Autenticar
        br
