extends template 
block content
    h1.w3-blue(tyle="text-shadow:2px 2px 0 #444",style="margin-top: 0px;") 
        b.w3-margin-left Ruas registadas no sistema
    .w3-center
        p Nesta página pode consultar todas as ruas presentes no nosso sistema, se clicar no nome de uma rua será-lhe apresentado uma nova página com informação individual da mesma.
        p Caso pretanda aceder diretamente à pagina de uma rua registada no sistema utilize a barra de pesquisas.
        label.w3-text-blue(for="nomeRua") Pesquisar Rua
        input.w3-input.w3-border(type="text" placeholder="Nome da Rua" id="nomeRua" name="nomeRua")
        button.w3-btn.w3-blue(onclick="buscaRua($('#nomeRua').val())") Submeter Pesquisa
    br
    table.w3-table.w3-hoverable
        thead
            tr.w3-blue
                th Nome da Rua
                th(style="text-align: center") Descrição
                th Referencias temporais
        each rua in ruas
            tr
                td.w3-border
                    br
                    a(href="/rua/"+rua._id)=rua._id.replaceAll("_", " ")
                td.w3-border
                    each value in [0,1,2]
                        if rua.paragrafos[value]
                            p=rua.paragrafos[value]
                    p='...'
                td.w3-border
                    each data in rua.datas 
                        p=data